*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(10deg,blue,yellow); */
}
.input-ele{
    width: 300px;
    height: 40px;
    font-size: 19px;
    outline: none;
    border: 1px solid black;
}
button{
    width: 70px;
    height: 40px;
    font-size: 19px;
}
.container{
    width: fit-content;
    height: 500px;
}
.para1{
    margin-top: 20px;
    font-size: 18px;
}